.Application {  
  font-family: monospace;
  max-width: 1000px;
  padding: 100px;
  margin: 0 auto;
}

body {
  background-image: url(".\\media\\pixel-art.bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.list-container {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0;
}

.header, .status {
  color: aliceblue;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid aliceblue;
  cursor: pointer;
}

.todo-item:hover span {
  text-decoration: line-through;
}

.remove-completed {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0e5724;
  color: #fff;
  border: none;
  cursor: pointer;
}

.remove-completed:hover {
  background-color: #0a441c;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.new-task-input {
  padding: 10px;
  width: 50%;
  margin-right: 10px;
}

.add-task-button {
  padding: 10px 20px;
  background-color: rgb(98, 165, 123);
  color: white;
  border: none;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: rgb(85, 139, 105);
}